<h1>Life is what you make it</h1>
	<h2> So make it count</h2>
	<em>If you think you only live once </em> 
	<strong>think again!!! </strong> 
	<h3> You only die once! But you live everyday! </h3>
	<a href="http://fitnesspt.pl">link</a>
	<br/>
	<img src="https://media.giphy.com/media/1ldHRxMBsf3IA/giphy.gif">
	<br>
	<br>

	<div>
	    <h1><a href="/">Django Girls Blog</a></h1>
	</div>

	{% for post in posts %}
	    <div>
	        <p>published: {{ post.published_date }}</p>
	        <h1><a href="">{{ post.title }}</a></h1>
	        <p>{{ post.text|linebreaks }}</p>
	    </div>
	{% endfor %}